# Pin mozbase and marionette packages to specific versions which are known to work
browsermob-proxy==0.6.0
manifestparser==1.1
mozInstall==1.12
mozcrash==0.15
mozdevice==0.46
mozfile==1.2
mozhttpd==0.7
mozinfo==0.8
mozlog==3.0
moznetwork==0.27
mozprocess==0.22
mozprofile==0.27
mozrunner==6.9
moztest==0.7
mozversion==1.4

marionette-client == 2.0.0
marionette-driver == 1.1.1

# Also pin external packages to minimize the risk of version conflicts
requests==2.7.0

# Install the firefox ui tests package
./
